#jinja2:lstrip_blocks: True
<?xml version='1.0' encoding='UTF-8'?>
<configuration version="{{ syncthing_config_file_version }}">
  {% for folder in config_folders %}
  <folder id="{{ folder.folder_id }}" label="{{ folder.folder_label }}" path="{{ folder.folder_path }}" type="{{ folder.sync_mode }}" rescanIntervalS="{{ syncthing_fallback_full_scan_interval_sec }}" fsWatcherEnabled="{{ syncthing_enable_folder_change_notifications }}" fsWatcherDelayS="{{ syncthing_folder_change_debounce_interval_sec }}" ignorePerms="{{ syncthing_use_local_host_folder_permissions }}">
    {% for device in syncthing_list_of_available_sync_devices %}
    <device id="{{ device.device_id }}"></device>
    {% endfor %}
    <minDiskFree unit="%">{{ syncthing_stop_syncing_at_disk_free_pct }}</minDiskFree>
    <scanProgressIntervalS>{{ syncthing_web_ui_scan_progress_update_sec }}</scanProgressIntervalS>
    <maxConflicts>{{ '-1' if (syncthing_number_of_file_sync_copies_to_keep == 'unlimited') else syncthing_number_of_file_sync_copies_to_keep }}</maxConflicts>
    <paused>false</paused>
    <markerName>{{ syncthing_sync_folder_markerdir_name }}</markerName>
  </folder>
  {% endfor %}
  {% for device in syncthing_list_of_available_sync_devices %}
  <device id="{{ device.device_id }}" name="{{ device.hostname }}" compression="{{ syncthing_folder_compresion_level }}" introducer="{{ syncthing_allow_connected_device_to_introduce_other_devices }}" skipIntroductionRemovals="false" introducedBy="">
    <address>dynamic</address>
    <paused>false</paused>
    <autoAcceptFolders>false</autoAcceptFolders>
    <maxSendKbps>{{ '0' if (syncthing_max_send_rate_kbps == 'unlimited') else syncthing_max_send_rate_kbps }}</maxSendKbps>
    <maxRecvKbps>{{ '0' if (syncthing_max_receive_rate_kbps == 'unlimited') else syncthing_max_receive_rate_kbps }}</maxRecvKbps>
  </device>
  {% endfor %}
  <gui enabled="{{ syncthing_enable_web_ui_access }}" tls="{{ syncthing_redirect_web_ui_to_https }}" debugging="{{ syncthing_enable_rest_api_debug_endpoints }}">
    <address>{{ syncthing_web_ui_address }}</address>
    <apikey>{{ syncthing_rest_api_key }}</apikey>
    <theme>{{ syncthing_web_ui_theme }}</theme>
    <insecureAdminAccess>{{ syncthing_enable_non_local_host_web_ui_access }}</insecureAdminAccess>
    <sendBasicAuthPrompt>{{ syncthing_prompt_for_username_and_passwd }}</sendBasicAuthPrompt>
  </gui>
  <ldap/>
  <options>
    <globalAnnounceServer>{{ syncthing_public_lookup_server_address }}</globalAnnounceServer>
    <globalAnnounceEnabled>{{ syncthing_search_for_devices_on_public_lookup_server }}</globalAnnounceEnabled>
    <localAnnounceEnabled>{{ syncthing_search_for_devices_on_local_lan }}</localAnnounceEnabled>
    <maxSendKbps>{{ '0' if (syncthing_max_send_rate_kbps == 'unlimited') else syncthing_max_send_rate_kbps }}</maxSendKbps>
    <maxRecvKbps>{{ '0' if (syncthing_max_receive_rate_kbps == 'unlimited') else syncthing_max_receive_rate_kbps }}</maxRecvKbps>
    <reconnectionIntervalS>{{ syncthing_search_retry_interval_sec }}</reconnectionIntervalS>
    <relaysEnabled>{{ syncthing_use_device_relay_connections }}</relaysEnabled>
    <relayReconnectIntervalM>{{ syncthing_relay_connect_interval_minutes }}</relayReconnectIntervalM>
    <startBrowser>{{ syncthing_open_browser_web_ui_on_start }}</startBrowser>
    <natEnabled>{{ syncthing_enable_nat }}</natEnabled>
    <natLeaseMinutes>{{ syncthing_nat_lease_request_minutes }}</natLeaseMinutes>
    <natRenewalMinutes>{{ syncthing_nat_lease_renewal_minutes }}</natRenewalMinutes>
    <natTimeoutSeconds>{{ syncthing_nat_upnp_scan_timeout_sec }}</natTimeoutSeconds>
    <urAccepted>{{ '0' if syncthing_ask_to_submit_anonymous_usage_data else '-1' }}</urAccepted>
    <urSeen>0</urSeen>
    <urUniqueID/>
    <urURL>{{ syncthing_anonymous_usage_data_upload_url }}</urURL>
    <urPostInsecurely>{{ syncthing_allow_anonymous_usage_data_with_http }}</urPostInsecurely>
    <urInitialDelayS>{{ syncthing_anonymous_usage_data_initial_delay_sec }}</urInitialDelayS>
    <autoUpgradeIntervalH>{{ '0' if (syncthing_auto_upgrade_interval_hrs == 'never') else syncthing_auto_upgrade_interval_hrs }}</autoUpgradeIntervalH>
    <upgradeToPreReleases>{{ syncthing_auto_upgrade_to_release_candidates }}</upgradeToPreReleases>
    <keepTemporariesH>{{ syncthing_retain_partial_failed_transfer_hrs }}</keepTemporariesH>
    <cacheIgnoredFiles>{{ syncthing_cache_ignored_files_evaluations }}</cacheIgnoredFiles>
    <progressUpdateIntervalS>{{ syncthing_web_ui_scan_progress_update_sec }}</progressUpdateIntervalS>
    <limitBandwidthInLan>{{ syncthing_apply_max_send_receive_limits_on_lan }}</limitBandwidthInLan>
    <minHomeDiskFree unit="%">{{ syncthing_stop_syncing_at_disk_free_pct }}</minHomeDiskFree>
    <releasesURL>{{ syncthing_check_releases_url }}</releasesURL>
    <crashReportingURL>{{ syncthing_crash_reporting_url }}</crashReportingURL>
    <crashReportingEnabled>{{ syncthing_enable_crash_reporting }}</crashReportingEnabled>
  </options>
  <defaults>
    <folder id="" label="" path="/home/{{ syncthing_user_name }}" type="sendreceive" rescanIntervalS="{{ syncthing_fallback_full_scan_interval_sec }}" fsWatcherEnabled="{{ syncthing_enable_folder_change_notifications }}" fsWatcherDelayS="{{ syncthing_folder_change_debounce_interval_sec }}" ignorePerms="{{ syncthing_use_local_host_folder_permissions }}">
      {% for device in syncthing_list_of_available_sync_devices %}
      <device id="{{ device.device_id }}" introducedBy=""></device>
      {% endfor %}
      <minDiskFree unit="%">{{ syncthing_stop_syncing_at_disk_free_pct }}</minDiskFree>
      <scanProgressIntervalS>{{ syncthing_web_ui_scan_progress_update_sec }}</scanProgressIntervalS>
      <maxConflicts>{{ '-1' if (syncthing_number_of_file_sync_copies_to_keep == 'unlimited') else syncthing_number_of_file_sync_copies_to_keep }}</maxConflicts>
      <paused>false</paused>
      <markerName>{{ syncthing_sync_folder_markerdir_name }}</markerName>
    </folder>
    <device id="" compression="{{ syncthing_folder_compresion_level }}" introducer="{{ syncthing_allow_connected_device_to_introduce_other_devices }}" skipIntroductionRemovals="false" introducedBy="">
      <address>dynamic</address>
      <paused>false</paused>
      <autoAcceptFolders>false</autoAcceptFolders>
      <maxSendKbps>{{ '0' if (syncthing_max_send_rate_kbps == 'unlimited') else syncthing_max_send_rate_kbps }}</maxSendKbps>
      <maxRecvKbps>{{ '0' if (syncthing_max_receive_rate_kbps == 'unlimited') else syncthing_max_receive_rate_kbps }}</maxRecvKbps>
    </device>
  </defaults>
</configuration>

